.flex-section{
    /* border: 1px solid red; */
}
.flex-section p{
    font-size: 24px;
    text-align: center;
}
.flex-section span{
    color: red;
}
header{
    height: 50px;
    background-color: pink;
}
nav ul{
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    line-height: 50px;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}
nav a{
    text-decoration: none;;
}
aside{
    /* border: 1px solid green; */
    width: 33%;
}
.aside-center{
    text-align: center;
    align-items: center;
}
input[type=text] {
    width: 200px;
    height: 30px;
    border: 1px solid red;
    margin: 5px 0;
}
input[type=password] {
    width: 200px;
    height: 30px;
    border: 1px solid red;
    margin: 5px 0;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid violet;
}
